
/* Header
******************************************************/
#header {
  background: #000;
  color:#fff;
  padding: 12px;
  font-size: 1.25em;
  display: none;
}

/* Players
******************************************************/
#players {
  display: inline-block;
}
#players li {
  display: inline-block;
  margin-right: 1em;
}

/* Next song button
******************************************************/
#next-button {
  display: none;
  float: right;
  cursor: pointer;
}
